<form class="delete-form" method="post" action="{{ path('other_delete', {'id': other.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ other.id) }}">
    <button class="btn custom-color-blue">Delete</button>
</form>
