<!-- character _edit_form -->
{{ form_start(editCharacterForm) }}
    {{ form_widget(editCharacterForm) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(editCharacterForm) }}
