<!-- character _new_form -->
{{ form_start(newCharacterForm) }}
    {{ form_widget(newCharacterForm) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(newCharacterForm) }}
