{% extends 'base.html.twig' %}

{% block title %}Edit Dash{% endblock %}

{% block body %}
<!-- dm_dash_fight -->

    <h1>Edit Dash</h1>

    {{ include('dash/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('dash_index') }}">back to list</a>

    {{ include('dash/_delete_form.html.twig') }}
{% endblock %}
