<!-- creature _edit_form -->
{{ form_start(editCreatureForm) }}
    {{ form_widget(editCreatureForm) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(editCreatureForm) }}
