<!-- creature _new_form -->
{{ form_start(newCreatureForm) }}
    {{ form_widget(newCreatureForm) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(newCreatureForm) }}
