{% extends 'base.html.twig' %}

{% block title %}New Creature{% endblock %}

{% block body %}
    <h1>Create new Creature</h1>

    {{ include('creature/_form.html.twig') }}

    <a href="{{ path('creature_index') }}">back to list</a>
{% endblock %}
