{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <h1>Create new Game</h1>

    {{ include('game/_new_form.html.twig') }}

    <a type="button" class="btn custom-color-green" href="{{ path('game_index') }}">back to list</a>
{% endblock %}
