@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

//custom colors
$custom-black: #0C070D;
$custom-red: #841F42;
$custom-red-orange: #F15855;
$custom-orange: #F15855;
$custom-yellow: #F6BE3C;
$custom-cyan: #05B37F;
$custom-blue: #06B4DB;
$custom-green: #61B045;
$custom-purple: #A74BBE;
$custom-magenta: #C149A5;

@import "/node_modules/bootstrap/scss/bootstrap";

body {
    font-family: 'Montserrat', sans-serif !important;
}

.custom-dark {
    background-color: #02040F !important;
    color: white !important;
}

.show-players {
    background-color: #C149A5 !important;
}

.custom-color-red {
    background-color: #841F42 !important;
    color: white !important;
}
.custom-color-red-orange {
    background-color: #F15855 !important;
    color: #0C070D !important;
}
.custom-color-orange {
    background-color: #F48B49 !important;
    color: #0C070D !important;
}
.custom-color-yellow {
    background-color: #F6BE3C !important;
    color: #0C070D !important;
}
.custom-color-green {
    background-color: #61B045 !important;
    color: #0C070D !important;
}
.custom-color-cyan {
    background-color: #05B37F !important;
    color: #0C070D !important;
}
.custom-color-blue {
    background-color: #06B4DB !important;
    color: #0C070D !important;
}
.custom-color-purple {
    background-color: #A74BBE !important;
    color: white !important;
}
.custom-color-magenta {
    background-color: #C149A5 !important;
    color: white !important;
}


