{% extends 'base.html.twig' %}

{% block title %}Edit Encounter{% endblock %}

{% block body %}
    <h1>Edit Encounter</h1>

    {{ include('encounter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('encounter_index') }}">back to list</a>

    {{ include('encounter/_delete_form.html.twig') }}
{% endblock %}
